
<div class="box-body">
    <div class="appForm">
    {{ form_start(form) }}
    <div class="part mb-2" style="display: flex; justify-content: space-around; margin-bottom: 2em;">
        <div class="form-group row">
            <section class="model" style="width: 50%;">
                {{ form_row(form.title) }}
            </section>
        </div>
    {% if update is not defined %} 
        <div class="form-group row">
            <section class="capacity" style="width: 45%;">
                {{ form_row(form.mediaPath) }}
            </section>
        </div>
    {% else %}
        <img class="trick-picture" src="{{ asset(media.mediaPath) }}" alt="{{media.title}}" style ="max-width: 140px;">
    {% endif %}
    </div>

    <div class="button">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>

    {{ form_end(form) }}
    </div>
</div>