{% extends 'base.html.twig' %}

{% block title %}Créez votre compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="appForm">
    <h1 class="h3 mb-3 font-weight-normal">Créez votre compte</h1>

        <div class="smartField">
        {{ form_start(registrationForm) }}
        </div>

        <div class="smartField">
        {{ form_row(registrationForm.email) }}
        </div><br/>

        <div class="smartField">
        {{ form_row(registrationForm.fullName) }}
        </div><br/>

        <div class="smartField">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        </div><br/>

        <div class="smartFieldUpload">
        {{ form_row(registrationForm.profilePic) }}
        </div><br/>

        <div class="smartField">
        {{ form_row(registrationForm.agreeTerms) }}
        </div><br/>
        

        <button type="submit" class="btn" style="background-color:#2c3e50; color:white;">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
