{% extends 'base.html.twig' %}

{% block title %}Créez votre compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="appForm">
    <h1>Créez votre compte</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}<br/>
        {{ form_row(registrationForm.fullName) }}<br/>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}<br/>
        {{ form_row(registrationForm.profilePic) }}<br/>
        {{ form_row(registrationForm.agreeTerms) }}<br/>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
