  
  {% set lvlCurrent = comment.lvl %}
  {% set marginIndex = lvlCurrent - 1 %}
  {% set margin = marginIndex * 30 %}

<div class="thread">
  <div class="list-group-item list-group-item-action flex-column align-items-start" style="border-radius: 0 0 3px 3px; margin-left: {{margin}}px;">
    <div class="commentWrap">
      <div class="profile_pic">
        {% if comment.account.profilePic is not null %} 
          <img class="user-picture" src="{{ asset(comment.account.profilePic) }}" alt="{{comment.account.fullName}}" style ="max-width: 190px;">
        {% else %} 
          <img class="user-picture" src="{{ asset(anonymous) }}" alt="anonymousIcone" style ="max-width: 190px;">
        {% endif %}
      </div>      

      <div class="textDataC">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ comment.account.fullName }}</h5>
          <small class="text-muted">{{ comment.createdAt|date("d/m/Y") }}</small>
        </div>
        <p class="mb-1">{{ comment.content }}</p>

        <form action="{{ path('show_trick', {id:trick.id}) }}">
            <input type="hidden" name="commentParent" value="{{ comment.id }}">
            <div class="button">
              <button type="submit" class="btn btn-primary">Répondre</button>
            </div>
        </form>   

        {% if app.user is not null %}
          {% if comment.account.id == app.user.id %}
            <div class = "UserActions">
              <a href="{{ path('update_comment', {id:comment.id}) }}"><img src="{{ asset('images/edit_dark.png') }}" alt="Edit" style="max-width: 2.8rem; height: auto; padding: 1px; margin: 3px;"/></a>
              <a href="{{ path('delete_comment', {id:comment.id}) }}"><img src="{{ asset('images/delete_dark.png') }}" alt="Delete" style="max-width: 2rem; height: auto; padding: 1px; margin: 3px;"/></a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

   

</div>

  {% if comment.comments != null %}
    {% for comment in comment.comments %}
    <div class="thread">
      {% include 'comment/_comment_thread.html.twig' with {'comment': comment, 'anonymous' : anonymous} %}
    </div>
    {% endfor %} 
  {% endif %}