<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {{title}}  {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
           <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid" >
            <div class="collapse navbar-collapse" id="navbarColor01">
                <div class="navCorr" style="display: flex; justify-content: space-between; padding: 20px; align-items: center;">
                    
                    <a class="navbar-brand" href="{{ path('index') }}" style="font-weight:bold;">Snow Tricks</a>
                    
                    <div id="navRight">

                        {% if app.user is not null %}
                            {% if app.user.profilePic is not null %} 
                              <img class="user-nav-picture" src="{{ asset(app.user.profilePic) }}" alt="" style ="max-width: 80px;">
                            {% else %} 
                              <img class="user-nav-picture" src="{{ asset('images/user.png') }}" alt="anonymousIcone" style ="max-width: 80px;">
                            {% endif %}                        
                        {% endif %}
                        
                        <div class="navOption">
                          <ul class="navbar-nav me-auto" style="list-style-type: none;">
                            <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                              <a class="nav-link active" href="{{ path('index') }}">Tricks
                              </a>
                            </li>
                            <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                <div style="color :#18bc9c">|</div>
                            </li>


                            {% if app.user is not null %}
                                <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                  <a class="nav-link" href="{{ path('logout') }}">Sign out</a>
                                </li>
                                <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                    <div style="color :#18bc9c">|</div>
                                </li>
                                <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                  <a class="nav-link" href="{{ path('delete_account') }}">Delete Account</a>
                                </li>
                            {% else %}
                                <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                  <a class="nav-link" href="{{ path('login') }}">Sign in</a>
                                </li>
                                <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                    <div style="color :#18bc9c">|</div>
                                </li>
                                <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                  <a class="nav-link" href="{{ path('register') }}">Sign up</a>
                                </li>
                                <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                    <div style="color :#18bc9c">|</div>
                                </li>
                                <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                  <a class="nav-link" href="{{ path('new_pass') }}">Pass forgotten</a>
                                </li>

                            {% endif %}
      <!--                       <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                              <a class="nav-link" href="#">Mon compte</a>
                            </li>
                            <li class="nav-item" style="padding-right: 5px; padding-left: 5px; font-size: 17px; ">
                                <div style="color :#18bc9c">|</div>
                            </li> -->
                          </ul>

                            {% if app.user is not null %}
                                <div id="userMail">
                                    {{ app.user.email }}
                                </div>

                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
          </div>
        </nav>
    </header>
    <body>
        <div class="flashDisplay">
            {% for key, message in app.flashes %}
                {% if key == 'error' %}
                    {% for flash in message %}
                        <div class="alert alert-dismissible alert-danger">
                            {{ flash }}
                        </div>
                    {% endfor %} 
                {% elseif key == 'success' %}
                    {% for flash in message %}
                        <div class="alert alert-dismissible alert-success">
                            {{ flash }}
                        </div>
                    {% endfor %} 
                {% elseif key == 'warning' %} 
                    {% for flash in message %}
                        <div class="alert alert-dismissible alert-warning">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

        
<hr style="color: #18bc9c; border:solid 0.5px;">
        {% block body %}{% endblock %}
    </body>

<hr style="color: #18bc9c; border:solid 0.5px;">

<nav class="navbarSmart">
          <a class="nav-link" href="{{ path('logout') }}"><img class="user-nav-picture" src="{{ asset('images/home.png') }}" alt="" style ="max-width: 40px;"></a>
    {% if app.user is not null %}
          <a class="nav-link" href="{{ path('logout') }}"><img class="user-nav-picture" src="{{ asset('images/out.png') }}" alt="" style ="max-width: 40px;"></a>
    {% else %}
          <a class="nav-link" href="{{ path('register') }}"><img class="user-nav-picture" src="{{ asset('images/user.png') }}" alt="" style ="max-width: 40px;"></a>
    {% endif %}
</nav>

    <footer>
        <div id="copy"></div>
        <p>Copyright @ 2022</p>
    </footer>
</html>
