
<div class="box-body">
    <div class="appForm">
        <h4 class="h3 mb-3 font-weight-normal"> {{titleForm}} </h4><br/>
    {{ form_start(form) }}
    <div class="part mb-2" style="display: flex; flex-direction:column; justify-content: space-between; align-item:center; margin-bottom: 2em;">
        <div class="smartField">
            {{ form_row(form.name) }}
        </div><br/>

        <div class="smartField">
            {{ form_row(form.content) }}
        </div><br/>

        {% if update is not defined %} 
            <div class="smartField">
                {{ form_row(form.mediaTitle) }}
            </div><br/>
            <div class="smartFieldUpload">
                {{ form_row(form.medias) }}
            </div><br/>
        {% endif %}

        <div class="smartField">
            {{ form_row(form.category) }}
        </div><br/>
    </div>

    <div class="button">
        <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i>Enregistrer</button>
    </div>
    {{ form_end(form) }}
    </div>
</div>
