{% extends 'base.html.twig' %}


{% block title %}Assigner le thumbnail : {{trick.name}}{% endblock %}

{% block body %}

<h3>Image principale lié à {{trick.name}}</h3>

<img class="trick-picture" src="{{ asset(mediaP.mediaPath) }}" alt="image">

<table class="table table-hover">
  <thead>
    <tr>
      {% for med in medias %} 
        <th scope="col"><img class="trick-picture" src="{{ asset(med.mediaPath) }}" alt="image"></th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>  
  <tr>
    {{ form_start(form) }}

      {% for thumb in form.thumbs %}
      <td>
        {{ form_row(thumb.name) }}
        {{ form_row(thumb.mediaId) }}
        {{ form_row(thumb.choice) }}
      </td>   
      {% endfor %}
      </tr>
      </tbody>
    </table>
    
      <div class="button">
          <button type="submit" class="btn btn-primary">Définir en tant que thumbnail de la figure</button>
      </div>
    {{ form_end(form) }}

{% endblock %}