{% extends 'base.html.twig' %}



{% block body %}


<a href="{{ path('create_account') }}">Créer votre compte</a>
<a href="{{ path('create_trick') }}">Ajouter un trick</a>
<a href="{{ path('manage_media') }}">Gérer les média</a>
<a href="{{ path('create_category') }}">Créer une nouvelle catégorie</a></br> </br>


<div id="damier">
  <div class="thumbnails">
    {% for trick in tricks %}
        <div class="card text-white bg-primary mb-3" style="max-width: 30rem; padding: 6px; margin: 2px;">
          <div class="card-body">
            <a href="{{ path('show_trick', {id:trick.id}) }}">
              {% for media in trick.medias %} 

                {% if media.type == 'imgP' %} 
                  <img class="trick-picture" src="{{ asset(media.mediaPath) }}" alt="{{trick.name}}" style ="max-width: 190px;">
                {% endif %} 

              {% endfor %}
            </a>

            <div class="cardDetail">
              <a href="{{ path('show_trick', {id:trick.id}) }}"><h4 class="card-title">{{trick.name}}</h4></a>
              {% if app.user is not null %}
                {% if is_granted('ROLE_ADMIN') %}
                  <div class = "adminActions">
                    <a href="{{ path('update_trick', {id:trick.id}) }}"><img src="{{ asset('images/edit.png') }}" alt="Edit" style="max-width: 2.8rem; height: auto; padding: 1px; margin: 3px;"/></a>
                    <a href="{{ path('delete_trick', {id:trick.id}) }}"><img src="{{ asset('images/delete.png') }}" alt="Delete" style="max-width: 2rem; height: auto; padding: 1px; margin: 3px;"/></a>
                  </div>
                {% endif %}
              {% endif %}
            </div>

          </div>
        </div>
    {% endfor %}
  </div>

</div>


{% endblock %}
