{% extends 'base.html.twig' %}



{% block body %}


<a href="{{ path('create_account') }}">Créer votre compte</a>
<a href="{{ path('create_trick') }}">Ajouter un trick</a>
<a href="{{ path('create_media') }}">Ajouter un média</a></br> </br>


<div id="damier">
  {% for trick in tricks %}
      <div class="card text-white bg-primary mb-3" style="max-width: 30rem; padding: 6px; margin: 10px;">
        <div class="card-body">
          <a href="{{ path('show_trick', {id: trick[1]}) }}"><h4 class="card-title">{{trick[0]}}</h4></a>
          <a href="{{ path('show_trick', {id: trick[1]}) }}"><img class="trick-picture" src="{{ asset(trick[2]) }}" alt="{{trick[0]}}"></a>
        </div>
      </div>
  {% endfor %}

  {% for trick in tricks %}
      <div class="card text-white bg-primary mb-3" style="max-width: 30rem; padding: 6px; margin: 10px;">
        <div class="card-body">
          <a href="{{ path('show_trick', {id: trick[1]}) }}"><h4 class="card-title">{{trick[0]}}</h4></a>
            <div class = "adminActions">
              <a href="{{ path('update_trick', {id: trick[1]}) }}"><img src="{{ asset('images/edit.png') }}" alt="Edit" style="max-width: 2.8rem; height: auto; padding: 1px; margin: 3px;"/></a>
              <a href="{{ path('delete_trick', {id: trick[1]}) }}"><img src="{{ asset('images/delete.png') }}" alt="Delete" style="max-width: 2rem; height: auto; padding: 1px; margin: 3px;"/></a>
            </div>
          <a href="{{ path('show_trick', {id: trick[1]}) }}"><img class="trick-picture" src="{{ asset(trick[2]) }}" alt="{{trick[0]}}"></a>
        </div>
      </div>
  {% endfor %}


</div>


{% endblock %}
